h1 {
  text-align: center;
  font-size: 60px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #ADD8E6;
  background-color: #e8f4f8
}

body{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    background-image: url(images/background.webp);
}

img{text-align: center;}

h3 {font-size: 40px;}
